body {
  font-family: system-ui;
  background: rgb(255, 250, 230);
  line-height: 1.714;
  margin: 1em;
  color: #111;
}

body,
.hashtag__popup {
  font-size: 16px;
  font-weight: normal;
}

.hashtag__toggle,
.hashtag__list-link,
a {
  color: #0052cc;
}

.hashtag__toggle {
  background: #fff;
  cursor: pointer;
  padding: 1px 0.24em 2px;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.hashtag--closed .hashtag__popup {
  display: none;
}

.hashtag--open .hashtag__popup {
  display: block;
}

.hashtag--open .hashtag__toggle {
  box-shadow: inset rgba(9, 30, 66, 0.25) 0 1px 1px;
  border: 1px solid #aaa;
  background: #efefef;
}

.hashtag--closed .hashtag__toggle {
  box-shadow: rgba(9, 30, 66, 0.25) 0 1px 1px, rgba(9, 30, 66, 0.13) 0 0 1px 1px;
  border: 1px solid transparent;
}

.hashtag__popup {
  padding: 1em;
  background: #fff;
  margin: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
}

.hashtag__popup--with-list {
  padding: 0.5em;
}

.hashtag__popup--error {
  color: red;
  font-weight: bold;
}

.hashtag__popup--empty {
  color: #aaa;
}

.hashtag__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.hashtag__list-link {
  display: block;
  padding: 0.5em;
}

.hashtag__list-link:hover {
  background: #efefef;
}

pre,
code {
  font-family: "SFMono-Medium", "SF Mono", "Segoe UI Mono", "Roboto Mono",
    "Ubuntu Mono", Menlo, Consolas, Courier, monospace;
  background: rgb(244, 245, 247);
  line-height: 1.66667;
  padding: 0.5em;
  font-size: 80%;
  border-radius: 3px;
}

pre code {
  font-size: 100%;
}

.toolbar {
  float: right;
}
.toolbar p {
  margin: 0;
}
.toolbar a {
  color: #42526e;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  line-height: 32px;
  padding: 0 8px;
  border-radius: 3px;
  margin-left: 6px;
}
.toolbar a:hover {
  background-color: rgba(9, 30, 66, 0.08);
}